body {
  font-family: 'Raleway', sans-serif;
  background: url('https://images.unsplash.com/photo-1461749280684-dccba630e2f6?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  color: rgba(64, 36, 36, 0.9);
  width: 100%;
  overflow-x: hidden;
}

.container {
  width: 100%;
}

.header {
  width: 100%;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: background-color 0.5s;
}

.jeff {
  margin-right: 15px;
}

.logo {
  height: auto;
  max-height: 60px;
  transition: transform 0.5s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.header-options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.header-options a {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  margin-left: 15px;
  transition: color 0.3s, transform 0.3s;
}

.options:hover {
  color: rgba(0, 0, 0, 1);
  transform: scale(1.05);
}

.header-buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-right: 40px;
}

.login-button,
.buy-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  margin-left: 10px;
  transition: background-color 0.3s, transform 0.3s;
}

.login-button:hover,
.buy-button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  padding-top: 80px;
}

.welcome-container {
  text-align: center;
  max-width: 700px;
  background: rgba(0, 0, 0, 0.7);
  padding: 40px;
  border-radius: 10px;
}

.welcome {
  color: #fff;
  font-size: 36px;
  margin-bottom: 20px;
  animation: fadeIn 2s ease-in-out 1s forwards;
}

.example-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.example-button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.template-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 60px 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  animation: slideUp 1.5s ease-in-out forwards;
}

.template-item {
  width: 30%;
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.05);
  margin: 20px;
  border-radius: 10px;
  transition: transform 0.5s, background-color 0.5s;
}

.template-item:hover {
  transform: scale(1.05);
  background-color: rgba(0, 0, 0, 0.1);
}

.template-item h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.template-item p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
}

.info-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #8a85ff;
  padding: 60px 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  animation: slideUp 1.5s ease-in-out forwards;
}

.info-item {
  width: 30%;
  text-align: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  margin: 20px;
  border-radius: 10px;
  transition: transform 0.5s, background-color 0.5s;
}

.info-item:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 1);
}

.info-item h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.info-item p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
}

.bottom-two {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.super-bottom {
  font-size: 14px;
  font-weight: bold;
  color: rgb(86, 103, 119);
}

.company-name {
  font-size: 14px;
  font-weight: bold;
  color: rgba(204, 204, 204, 0.7);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.8);
  padding: 40px 0;
  text-align: center;
}

.footer p {
  font-size: 16px;
}

.footer a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  text-decoration: underline;
}